<header class="site-header cf"> 
2     <div class="container"> 
3         <div class="site-title">{{ site.title }}</div> 
4         <nav class="navbar"> 
5             <ul class="header-nav"> 
6                 <li><a class="nav-link" href="#">Blog</a></li> 
7                 <li><a class="nav-link" href="#">About me</a></li> 
8                 <li><a class="nav-link" href="#">Portfolio</a></li> 
9                 <li><a class="nav-link" href="#">Contact</a></li> 
10             </ul> 
11         </nav> 
12     </div> <!-- / container --> 
13 </header><!-- / header --> 
